{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Career at Ercess Live</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="description" content="Check here the current openings to work for Ercess Live, the fastest growing which have highest potential to increase the revenue of any event happening at any location.">
        <meta name="keywords" content="Jobs, Jobs at Ercess Live, career at Ercess Live">
        <link rel="shortcut icon" href="{%  static 'images/fav.ico'%}">
        <meta name="google-site-verification" content="Hp-UR63f6b4b-tVU0rbbM4gE6AEHcRCbZ8vtbxRnpC4" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
        {% include 'static/common/css.html' %}

    </head>
    <body>
        {% include 'static/common/header2.html' %}
        <section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url('{% static 'images/contact-banner.jpg' %}');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                        <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                            <h1 class="alt-font text-white font-weight-600 no-margin-bottom">Jobs at Ercess Live</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12 center-col">
                        <div class="panel-group accordion-style1" id="accordion-design">
                            <div class="panel">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-design" href="#design1" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-extra-dark-gray text-uppercase">Freelance Web designer cum developer<span class="pull-right"><i class="ti-minus"></i></span></div></a>
                                </div>
                                <div id="design1" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
                                    <div class="panel-body">
                                        <p><b>Min Experience:</b> 1 Year</p>
                                        <p><b>Location:</b> Remote</p>
                                        <p>Should have experience in HTML, CSS, Javascript, jQuery, AJAX, JSON, PHP & MySQL.</p>
                                        <p>If interested, please send your resume on human.resources@ercess.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion-design" href="#design2" class="collapsed" aria-expanded="false"><div class="panel-title font-weight-500 text-extra-dark-gray text-uppercase">Rockstar Business developer<span class="pull-right"><i class="ti-plus"></i></span></div></a>
                                </div>
                                <div id="design2" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                    <div class="panel-body">
                                        <p><b>Min Experience:</b> 1 Year</p>
                                        <p><b>Location:</b> Bangalore</p>
                                        <p>Must be approachable, gentle and who understands the criticality of his/her job. Must be good in cold calling also.</p>
                                        <p>If interested, please send your resume on human.resources@ercess.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% include 'static/common/social.html'  %}
    {% include 'static/common/footer.html' %}
    {% include 'static/common/js.html' %}
    </body>

</html>