{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>How it works | How multichannel promotion works | Ercess Live | Ercess.com/live</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="description" content="Ercess is one of the best events promotion platforms, which helps you to promote your events across. This page will help you to understand how our multichannel promotion works. To get more information on upcoming events, visit our website." />
        <meta name="keywords" content="How it works, How multichannel promotion works" />
        <link rel="shortcut icon" href="{% static 'images/fav.ico' %}">
        <meta name="google-site-verification" content="Hp-UR63f6b4b-tVU0rbbM4gE6AEHcRCbZ8vtbxRnpC4" />
        {% include 'static/common/css.html' %}
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        {% include 'static/common/header2.html' %}
        <section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url('{% static 'images/parallax-bg32.jpg' %}');">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
                        <div class="display-table-cell vertical-align-middle text-center">
                            <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">How it works</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="wow fadeIn bg-light-gray wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container margin-six-top md-margin-ten-top sm-no-margin-top">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 sm-text-center xs-margin-30px-bottom wow fadeIn last-paragraph-no-margin" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                        <div class="col-md-3 text-center xs-no-padding-lr">
                            <h2 class="text-light-gray alt-font letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">01</h2>
                        </div>
                        <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                            <p class="width-100 md-width-100">Organizer creates an event on Ercess Live platform</p>
                        </div>
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-2px width-100 center-col"></div>
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 sm-text-center xs-margin-30px-bottom wow fadeIn last-paragraph-no-margin" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                        <div class="col-md-3 text-center xs-no-padding-lr">
                            <h2 class="text-light-gray alt-font letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">02</h2>
                        </div>
                        <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                            <p class="width-100 md-width-100">Ercess Live team connects with partner companies and get event listed on their platform</p>
                        </div>
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-2px width-100 center-col"></div>
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 sm-text-center xs-margin-30px-bottom wow fadeIn last-paragraph-no-margin" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                        <div class="col-md-3 text-center xs-no-padding-lr">
                            <h2 class="text-light-gray alt-font letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">03</h2>
                        </div>
                        <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                            <p class="width-100 md-width-100">Customers purchase tickets through all the platforms</p>
                        </div>
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-2px width-100 center-col"></div>
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 sm-text-center xs-margin-30px-bottom wow fadeIn last-paragraph-no-margin" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                        <div class="col-md-3 text-center xs-no-padding-lr">
                            <h2 class="text-light-gray alt-font letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">04</h2>
                        </div>
                        <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                            <p class="width-100 md-width-100">Organizer checks all the ticket sales, enquiries, and customer interests in Ercess Live dashboard</p>
                        </div>
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-2px width-100 center-col"></div>
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 sm-text-center xs-margin-30px-bottom wow fadeIn last-paragraph-no-margin" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                        <div class="col-md-3 text-center xs-no-padding-lr">
                            <h2 class="text-light-gray alt-font letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">05</h2>
                        </div>
                        <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                            <p class="width-100 md-width-100">Ercess Live collects money from all the partner companies within 3-4 working days post event start date</p>
                        </div>
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-2px width-100 center-col"></div>
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 sm-text-center xs-margin-30px-bottom wow fadeIn last-paragraph-no-margin" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                        <div class="col-md-3 text-center xs-no-padding-lr">
                            <h2 class="text-light-gray alt-font letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">06</h2>
                        </div>
                        <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                            <p class="width-100 md-width-100">Ercess Live transfers favored financial balance to organizer’s bank account within 5 business days after event starts</p>
                        </div>
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-2px width-100 center-col"></div>
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 sm-text-center xs-margin-30px-bottom wow fadeIn last-paragraph-no-margin" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
                        <div class="col-md-3 text-center xs-no-padding-lr">
                            <h2 class="text-light-gray alt-font letter-spacing-minus-3 no-margin-bottom sm-margin-10px-bottom">07</h2>
                        </div>
                        <div class="col-md-9 margin-5px-top sm-text-center xs-no-padding-lr">
                            <p class="width-100 md-width-100">Along with payment organizer receives the tax invoice and payment advice from Ercess Live</p>
                        </div>
                        <div class="separator-line-horrizontal-full bg-extra-light-gray margin-60px-tb height-2px width-100 center-col"></div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'static/common/social.html'  %}
        {% include 'static/common/footer.html' %}
        {% include 'static/common/js.html' %}
    </body>

</html>