{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Multichannel event promotion by Ercess Live | Free event promotion India</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="description" content="Ercess Live is SINGLE CLICK multichannel event promotion platform, where you can get your event promoted across all possible event discovery and ticketing platforms in country serving millions of users event month." />
        <meta name="keywords" content="Multichannel event promotion, how to promote events online, event promotion India, event promotion in India" />
        <link rel="shortcut icon" href="{% static 'images/fav.ico' %}">
        <meta name="google-site-verification" content="Hp-UR63f6b4b-tVU0rbbM4gE6AEHcRCbZ8vtbxRnpC4" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
        {% include 'static/common/css.html'%}
    </head>
    <body>
        {% include 'static/common/header2.html' %}
        <section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url({% static 'images/contact-banner.jpg' %});">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                        <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
                            <h1 class="alt-font text-white font-weight-600 no-margin-bottom">Multichannel Event Promotion</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="bg-light-gray">
            <div class="container">
                <div class="row equalize sm-equalize-auto">
                    <div class="col-md-5 col-sm-12 sm-margin-30px-bottom wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft; height: 553px;">
                        <div class="display-table width-100 heidth-100">
                            <div class="display-table-cell vertical-align-middle">
                                <img src="{% static 'images/services-img7.jpg' %}" class="width-100" alt="" data-no-retina="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-md-offset-1 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight; height: 553px;">
                        <div class="display-table width-100 heidth-100">
                            <div class="display-table-cell vertical-align-middle">
                                <h5 class="alt-font text-extra-dark-gray font-weight-600">Publish here and get published everywhere</h5>
                                <p>We work with more than 65 event promotion and ticketing companies. If you publish your event on Ercess Live, our team will publish it on 65+ sites and enable ticketing, so your ticket sales can be amplified.</p>
                                <div class="margin-30px-tb">
                                    <ul class="no-padding list-style-5">
                                        <li>Your event will be published on more than 80% sites within an hour</li>
                                        <li>Change in plans? We will cover that quickly on all the sites.</li>
                                        <li>You can checkout all your sales details on our platform only.</li>
                                        <li>See all the leads curated from all the sites at one place.</li>
                                        <li>Receive all the payemnts in one go. We're flexible too.</li>
                                        <li>Worried about segment? You name it, we have it!</li>
                                        <li>We increase your reach with our geo-location and category-specific tools.</li>
                                        <li>Our powerful system is built on artificial intelligence to handle all the jobs.</li>
                                    </ul>
                                </div>
                                <a href="{% url 'login' %}" class="btn btn-dark-gray btn-small border-radius-4 text-extra-small">Get started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <div class="container">
                <div class="row equalize sm-equalize-auto">
                    <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 display-table wow fadeInRight" style="visibility: visible; animation-name: fadeInRight; height: 449px;">
                        <div class="display-table-cell vertical-align-middle">
                            <h5 class="alt-font text-extra-dark-gray font-weight-600 margin-30px-bottom">Save time, money and focus on other works</h5>
                            <ul class="no-padding list-style-4">
                                <li>We are partnered with unbelievable number of companies</li>
                                <li>You do not need a dedicated team to promote your event</li>
                                <li>Save your 97% time of promotion and focus on other works</li>
                                <li>It takes 5 minutes to publish event on Ercess Live</li>
                                <li>Unlimited power and customization possibilities</li>
                                <li>Few events got over-subscribed</li>
                            </ul>
                            <a href="{% url 'login' %}" class="btn btn-dark-gray btn-small text-extra-small border-radius-4 margin-20px-top">Get started</a>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-md-offset-2 col-lg-offset-2 display-table sm-margin-30px-bottom wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft; height: 449px;">
                        <div class="display-table-cell vertical-align-middle">
                            <img src="{% static 'images/services-img9.png' %}" class="width-100" alt="" data-no-retina="">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% include 'static/common/social.html'  %}
        {% include 'static/common/footer.html' %}
        {% include 'static/common/js.html' %}
    </body>
</html>