{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>Check our competitive pricing here | Ercess Live</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="description" content="Check our pricing for the tickets we sell across India. Ercess Live is India's first multichannel events promotion platform which promotes events on 30+ other sites in India. Moreoever, helps you to know the details of upcoming events and give ability to purchase the tickets." />
        <meta name="keywords" content="Ercess Live pricing" />
        <link rel="shortcut icon" href="{% static 'images/fav.ico' %}">
        <meta name="google-site-verification" content="Hp-UR63f6b4b-tVU0rbbM4gE6AEHcRCbZ8vtbxRnpC4" />
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
        {% include 'static/common/css.html'%}

    </head>
    <body>
        {% include 'static/common/header2.html' %}
        <section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url({% static 'images/parallax-bg32.jpg' %});">
            <div class="opacity-medium bg-extra-dark-gray"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
                        <div class="display-table-cell vertical-align-middle text-center">
                            <h1 class="text-white alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">Pricing</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="wow fadeIn">
            <div class="container">
                <div class="row">
                    <div class="pricing-box-style1">
                        <div class="col-md-12">
                            <h5 class="alt-font text-extra-dark-gray font-weight-600 text-center">Event's Multichannel promotion</h5>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12 col-md-offset-2 col-lg-offset-2 text-center margin-30px-bottom wow fadeInUp">
                            <div class="pricing-box border-all border-width-1 border-color-extra-light-gray">
                                <div class="padding-55px-all bg-very-light-gray sm-padding-30px-all xs-padding-40px-all">
                                    <div class="pricing-title text-center">
                                        <i class="ti-light-bulb icon-large text-deep-pink display-inline-block padding-30px-all bg-white box-shadow-light border-radius-100 margin-25px-bottom"></i>
                                    </div>
                                    <div class="pricing-price">
                                        <span class="alt-font text-extra-dark-gray font-weight-600 text-uppercase">Event promotion</span>
                                        <h4 class="text-extra-dark-gray alt-font font-weight-600 no-margin-bottom">0%</h4>
                                        <div class="text-extra-small text-uppercase alt-font margin-5px-top">Free for free events</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xs-12 text-center margin-30px-bottom wow fadeInUp">
                            <div class="pricing-box border-all border-width-1 border-color-extra-light-gray">
                                <div class="padding-55px-all bg-very-light-gray sm-padding-30px-all xs-padding-40px-all">
                                    <div class="pricing-title text-center">
                                        <i class="ti-user icon-large text-deep-pink display-inline-block padding-30px-all bg-white box-shadow-light border-radius-100 margin-25px-bottom"></i>
                                    </div>
                                    <div class="pricing-price">
                                        <span class="alt-font text-extra-dark-gray font-weight-600 text-uppercase">Event promotion</span>
                                        <h4 class="text-extra-dark-gray alt-font font-weight-600 no-margin-bottom">1.5%</h4>
                                        <div class="text-extra-small text-uppercase alt-font margin-5px-top">On top of partner company charges</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h5 class="alt-font text-extra-dark-gray font-weight-600 text-center margin-100px-top">Event's paid marketing</h5>
                        </div>
                        <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4 col-xs-12 margin-30px-bottom text-center wow fadeInUp" data-wow-delay="0.4s">
                            <div class="pricing-box border-all border-width-1 border-color-extra-light-gray">
                                <div class="padding-20px-left padding-20px-right padding-55px-top padding-55px-bottom bg-very-light-gray sm-padding-30px-all xs-padding-40px-all">
                                    <div class="pricing-title text-center">
                                        <i class="ti-signal icon-large text-deep-pink display-inline-block padding-30px-all bg-white box-shadow-light border-radius-100 margin-25px-bottom"></i>
                                    </div>
                                    <div class="pricing-price">
                                        <span class="alt-font text-extra-dark-gray font-weight-600 text-uppercase">Marketing</span>
                                        <h4 class="text-extra-dark-gray alt-font font-weight-600 no-margin-bottom">INR 4999/-</h4>
                                        <div class="text-extra-small text-uppercase alt-font margin-5px-top">Advertisement on Facebook / Google / Instagram / Partner site</div>
                                        <div class="text-extra-small text-uppercase alt-font margin-5px-top">Expected reach - 20,000 to 50,000</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <h5 class="alt-font text-extra-dark-gray font-weight-600 text-center margin-100px-top">Stall spaces</h5>
                        </div>

                        <div class="col-md-4 col-sm-12 col-xs-12 text-center margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                            <div class="pricing-box border-all border-width-1 border-color-extra-light-gray">
                                <div class="padding-55px-all bg-very-light-gray sm-padding-30px-all xs-padding-40px-all">
                                    <div class="pricing-title text-center">
                                        <i class="ti-crown icon-large text-deep-pink display-inline-block padding-30px-all bg-white box-shadow-light border-radius-100 margin-25px-bottom"></i>
                                        <h3 class="text-extra-dark-gray alt-font font-weight-600 no-margin-bottom">BASIC</h3>
                                    </div>
                                    <div class="pricing-price">
                                        <span class="alt-font text-extra-dark-gray font-weight-600 text-uppercase">Stall spaces</span>
                                        <h5 class="text-extra-dark-gray alt-font font-weight-600 no-margin-bottom">INR 4999/-</h5>
                                        <div class="text-extra-small text-uppercase alt-font margin-5px-top">Per Event</div>
                                    </div>
                                    <div class="details text-left">
                                        <div class="text-extra-small text-uppercase alt-font margin-40px-top margin-5px-bottom">Up to 30 genuine Leads provided</div>
                                        <hr class="no-margin">
                                        <div class="text-extra-small text-uppercase alt-font margin-15px-top margin-5px-bottom">Facebook ads worth Inr.1500</div>
                                        <hr class="no-margin">
                                        <div class="text-extra-small text-uppercase alt-font margin-15px-top">Instagram ads worth Inr.1500</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 text-center margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                            <div class="pricing-box border-all border-width-1 border-color-extra-light-gray">
                                <div class="padding-55px-all bg-very-light-gray sm-padding-30px-all xs-padding-40px-all">
                                    <div class="pricing-title text-center">
                                        <i class="ti-star icon-large text-deep-pink display-inline-block padding-30px-all bg-white box-shadow-light border-radius-100 margin-25px-bottom"></i>
                                        <h3 class="text-extra-dark-gray alt-font font-weight-600 no-margin-bottom">SUPER</h3>
                                    </div>
                                    <div class="pricing-price">
                                        <span class="alt-font text-extra-dark-gray font-weight-600 text-uppercase">Stall spaces</span>
                                        <h5 class="text-extra-dark-gray alt-font font-weight-600 no-margin-bottom">INR 11999/-</h5>
                                        <div class="text-extra-small text-uppercase alt-font margin-5px-top">Per Event</div>
                                    </div>
                                    <div class="details text-left">
                                        <div class="text-extra-small text-uppercase alt-font margin-40px-top margin-5px-bottom">Up to 70 genuine Leads provided</div>
                                        <hr class="no-margin">
                                        <div class="text-extra-small text-uppercase alt-font margin-15px-top margin-5px-bottom">Facebook ads worth Inr.4000</div>
                                        <hr class="no-margin">
                                        <div class="text-extra-small text-uppercase alt-font margin-15px-top">Instagram ads worth Inr.4000</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12 text-center margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                            <div class="pricing-box border-all border-width-1 border-color-extra-light-gray">
                                <div class="padding-55px-all bg-very-light-gray sm-padding-30px-all xs-padding-40px-all">
                                    <div class="pricing-title text-center">
                                        <i class="ti-world icon-large text-deep-pink display-inline-block padding-30px-all bg-white box-shadow-light border-radius-100 margin-25px-bottom"></i>
                                        <h3 class="text-extra-dark-gray alt-font font-weight-600 no-margin-bottom">VIP</h3>
                                    </div>
                                    <div class="pricing-price">
                                        <span class="alt-font text-extra-dark-gray font-weight-600 text-uppercase">Stall spaces</span>
                                        <h5 class="text-extra-dark-gray alt-font font-weight-600 no-margin-bottom">INR 24999/-</h5>
                                        <div class="text-extra-small text-uppercase alt-font margin-5px-top">Per Event</div>
                                    </div>
                                    <div class="details text-left">
                                        <div class="text-extra-small text-uppercase alt-font margin-40px-top margin-5px-bottom">Up to 150 genuine Leads provided</div>
                                        <hr class="no-margin">
                                        <div class="text-extra-small text-uppercase alt-font margin-15px-top margin-5px-bottom">A dedicated account manager</div>
                                        <hr class="no-margin">
                                        <div class="text-extra-small text-uppercase alt-font margin-15px-top margin-5px-bottom">Facebook ads worth Inr.7000</div>
                                        <hr class="no-margin">
                                        <div class="text-extra-small text-uppercase alt-font margin-15px-top">Instagram ads worth Inr.7000</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include 'static/common/social.html'  %}
        {% include 'static/common/footer.html' %}
        {% include 'static/common/js.html' %}
    </body>

</html>