{% load static %}
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>Forgot password  Ercess Live account | Ercess Live</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="description" content="Login to Ercess Live account to manage your events, promote, sell tickets, and sell stall spaces." />
        <link rel="shortcut icon" href="{% static 'images/fav.ico'%}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta name="google-site-verification" content="Hp-UR63f6b4b-tVU0rbbM4gE6AEHcRCbZ8vtbxRnpC4" />
        {% include 'static/common/css.html' %}
        <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->

        <style>
            body{
                background: #da2021;
            }
            label{
                visibility: hidden;
                display: none;
            }
            section{
                padding: 15px 0;
                background: #da2021;
            }
            .box{
                width: 100%;
                padding: 30px;
                border-radius: 6px; 
                background: #ffffff;
            }
        </style>

        <script>
            $(document).ready(function () {
                $("#id_email").addClass("big-input");
                $("#id_password").addClass("big-input");
                $("#id_rpassword").addClass("big-input");
            });

        </script>
    </head>
    <body>
        {% if usernotexist %}
            <div class="alert alert-danger" role="alert"><center>User does not exist !</center></div>
        {% elif passnotmatch %}
            <div class="alert alert-danger" role="alert"><center>Passwords are not matching !</center></div>
        {% endif %}

        <section class="wow fadeIn" id="start-your-project">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-lg-4 visible-lg visible-md">
                        <img src="/static/images/signup-page.png" />
                    </div>
                    <div class = 'col-md-8 col-lg-8 text-center'>
                        <div class="box">
                            <a href="/live/"><img src="/static/images/logo.png" class="margin-50px-bottom" /></a>
                        
                            {% if messageData.token_type == 'password' %}
                                {% if messageData.responseType == 'success' %}
                                    {% if messageData.messageType == 'error' %}
                                        <div class="alert alert-danger margin-40px-top">{{ messageData.message }}</div>
                                    {% endif %}

                                    {% if messageData.messageType == 'success' %}
                                        <input type="password" id="pswd" placeholder="Password" class="big-input" required> 
                                        <input type="password" id="confirmPswd" placeholder="Confirm Password" class="big-input" required>
                                        <button type="button" class="btn btn-transparent-dark-gray btn-large margin-20px-top" onclick="resetUserPassword()">RESET PASSWORD</button> 
                                    {% endif %}
                                {% endif %}
                                {% if messageData.responseType == 'error' %}
                                    <div class="alert alert-danger margin-40px-top">{{ messageData.message }}</div>
                                {% endif %}
                            {% endif %}

                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </section>
            {% include 'static/common/js.html' %}
    </body>
    <script type="text/javascript">

        toastr.options = {
            closeButton: true,
            newestOnTop: true,
            progressBar: true
        };
        function toastrErrorMsg(title, message) {
            toastr.error(message, title)
        }
        function toastrSuccessMsg(title, message) {
            toastr.success(message, title)
        }

        function resetUserPassword() {

            let pageUrl = window.location.href.split('/');
            let urlSlug = pageUrl.pop() || pageUrl.pop();  // handle potential trailing slash

            toastr.clear();

            let passVal = $('#pswd')[0].value
            let repassVal = $('#confirmPswd')[0].value

            if(passVal == '' || passVal == undefined || passVal.length < 8) {
                toastrErrorMsg("Error","Password length should be minimum 8 characters.")
            } else if(repassVal == '' || repassVal == undefined) {
                toastrErrorMsg("Error","Please enter your confirm password also.")
            } else if(passVal != repassVal) {
                toastrErrorMsg("Error","Password and confirm password are not matching.")
            } else {
                let userResetPassPayload = {'passVal':passVal,'slugVal':urlSlug}

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/live/set_new_password/",
                    data: JSON.stringify(userResetPassPayload),
                    success: function(response) {
                        console.log(response)
                        if(response.responseType == 'success') {
                            if(response.messageType == 'error') {
                                toastrErrorMsg("Error",response.message)
                            } else if(response.messageType == 'success') {
                                toastrSuccessMsg("Success",response.message)
                                window.location.href = response.url

                            }       
                        }
                    }
                });
            }
        }
    </script>
</html>

