{% extends 'dashboard/create_event.html' %}

{% block title %} Legal - Ercess Live {% endblock title %}
{% block og %}

<section class="content">
    <div class="container clearfix">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-dark mb-30">Legal</h1>
                <div class="alert alert-info text-center mb-80">
                    <h4>NOTHING TO SHOW HERE. YOU SEE THE UPDATE WHEN WE HAVE AGREEMENT READY FOR YOU.</h4>
                </div> 
            </div>
        </div>
    </div>
</section>

{% endblock og %}
